
<div class="container">

  <br>
  <br>
  <h2>
   Task
  </h2>
  <br>
  <br>
<table class="table table-bordered">
  <thead>
  <tr>
    <td>TaskId</td>
    <td>TaskName</td>
    <td>TaskClientName</td>
    <td>TaskDescription</td>
    <!-- <td width="250" align="center">Action</td> -->
  </tr>
  </thead>
  <tbody>
   <tr  *ngFor="let task of tasks">
    <td>	{{task[0].taskId}}	 </td>
    <td>	{{task[0].taskName}} </td>
    <td>	{{task[0].taskClientName}} </td>
    <td>	{{task[0].taskDesc}} </td>
    <!-- <td width="250"> 
      <a class="btn btn-info" 	routerLink="/detailtask/{{task._id}}">Detail</a> 
      <a class="btn btn-primary"  		routerLink="/edittask/{{task._id}}">Edit</a>
      <a class="btn btn-danger" 				(click)=" ondeleteClick(task._id)" >Delete</a>
    </td> -->
   </tr>
  </tbody>
</table>
</div>

